@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Gruppo&family=Julee&family=Julius+Sans+One&family=Shadows+Into+Light&display=swap');

    *
    {
    text-align: center;
    font-size: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    body
    {
        min-height: 100vh;
        background: linear-gradient(to bottom, rgb(3, 3, 3), rgb(0, 0, 0));
    }

    .Title{
        font-family: 'Julius Sans One', sans-serif;
        font-size: 20px;
        margin-bottom: 35px;
        margin-top: 65px;
        color: rgb(138, 155, 132);
        text-shadow: 0 0 5px rgba(145, 165, 140, 0.6);
    }

    .ZED{
        height: 40%;
        width: 40%;
        transition: all 0.15s;
        box-shadow: 0 0 10px rgb(255, 255, 255);
    }

    .ZED:hover{
        height: 43%;
        width: 43%;
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }

    .ZED:active{
        opacity: 50%;
        box-shadow: 0 0 30px rgb(255, 255, 255);
    }

    .Zed-Text{
        margin-right: 15%;
        margin-bottom: 50%;
        color: white;
        font-family: 'Julius Sans One', sans-serif;
        padding: 50px;
    }

    .Logo
{
    margin-right: 50px;
    float: right;
    align-items: center;
    height: 300px;
    padding: 10px;
    transition: all 0.15s;
    opacity: 10%;
}

.Logo:hover{
    background-color: rgba(0, 0, 0, 0.295);
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    opacity: 100%;
}

.Logo:active{
    border-radius: 20%;
}

.ZeD{
    height: 40%;
    width: 40%;
    transition: all 0.15s;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    opacity: 15%;
}

.PD
{
    color: rgb(0, 255, 0);
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.603);
    background-color: rgba(0, 255, 34, 0.199);
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0, 255, 34, 0.329);
    transition: all 0.15s;
    margin-bottom: 70px;
    margin-right: 20px;
}

.PD:hover{
    height: 60px;
    width: 160px;
    cursor: pointer;
}